.input-row{
   display: flex;
   flex-direction: row;
   max-width: 700px;
  margin-top: 1em;
}

.input-row__label{
  width:100px;
  padding:8px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #355990;
  font-weight: 600;
  opacity: 0.6;
  letter-spacing: 0.8px;
  line-height: 22px;
}

.input-row__input-area{
  display: flex;
  flex-direction: row;
  flex:1;
}