.app{
  background-color: #F7F7F7;
  height: 100%;
}

.app__header{
background-color:#355990;
width:100%;
height:80px;
}

.app__header p {
  margin:0 auto;
  max-width: 1000px;
  font-size: 28px;
  font-weight: 300;
  color:#fff;
  line-height: 80px;
}

.app__content{
  max-width: 1000px;
  margin:0 auto;
  padding:1em
}